/* Reset */
/* Handled by reset.css from https://github.com/murtaugh/HTML5-Reset */

/* GENERAL */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}
::-moz-selection {
	color: #fff;
	background: #00afef;
	background: rgba(0,174,239,0.85);
}
::selection {
	color: #fff;
	background: #00afef;
	background: rgba(0,174,239,0.85);
}

html,body {
	font-family: 'Avenir Next LT Pro';
	font-size: 16px;
	font-weight: 400;
}

strong {
	font-weight: bold;
}

html {
	background: #FFF;
	overflow-x: hidden;
	color: #666;
}

input {
	font-family: inherit;
}

body.content {
	background: #FAFAFC;
}

:focus {
	outline:none;
}

#bs-override a, #bs-override a:hover {
	text-decoration: none;
}

/* FONT */

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('AvenirNextLTPro-Regular.woff2') format('woff2'),
		url('AvenirNextLTPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('AvenirNextLTPro-It.woff2') format('woff2'),
		url('AvenirNextLTPro-It.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

h1 {
	font-size: 46px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 20px;
}

h1, h3 {
	line-height: 1.2;
}

h2, h4 {
	line-height: 1.5;
}

/* TEXT */

.heading {
	color: #000;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

@media screen and (min-width: 768px) {
	.heading {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.heading--thin {
	font-weight: normal;
}

.paragraph {
	font-size: 16px;
	line-height: 1.8;
	color: #000;
	margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
	.paragraph {
		margin: 1em 0 1.5em;
	}
}

.text-blue {
	color: #00afef;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: url(../images.v2/bg-header-white.png) no-repeat center bottom;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100000;
  transition: height .15s ease-in-out;
}

@media screen and (min-width: 992px) {
	.navbar {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background: url(../images.v2/bg-header.png) no-repeat left bottom;
		overflow: unset;
	}
}

.navbar--expanded {
	height: 100%;
	background: #fff;
	overflow-y: scroll;
}

@media screen and (min-width: 992px) {
	.navbar--expanded {
		height: 80px;
		background: url(../images.v2/bg-header.png) no-repeat center bottom;
		overflow: unset;
	}
}

.navbar--expanded::-webkit-scrollbar {
	display: none;
}

.hamburger {
  display: block;
  position: fixed;
  top: 4px;
  right: 0;
  width: 66px;
  height: 66px;
  background: 0;
  border: none;
  padding: 0;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
 }

@media screen and (min-width: 992px) {
	.hamburger {
	  display: none; 
	} 
}

.hamburger:focus {
	outline: none;
}
  
.hamburger--cross .hamburger__bar {
	left: 27px;
	width: 27px;
}

.hamburger--cross .hamburger__bar--top {
	transform: rotate(45deg);
	transform-origin: 0 0;
}

.hamburger--cross .hamburger__bar--middle {
	width: 0; 
}

.hamburger--cross .hamburger__bar--bottom {
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}

.hamburger__bar {
	position: absolute;
	width: 26px;
	height: 4px;
	background: #00afef;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
}

.hamburger__bar--top {
	top: 22px;
	left: 20px;
}

.hamburger__bar--middle {
	top: 50%;
	left: 20px;
	width: 14px;
	margin-top: -2px;
}

.hamburger__bar--bottom {
	bottom: 22px;
	left: 20px;
}

.logo {
	width: 355px;
	height: 76px;
	background: url('../images.v2/bg-logo.png') no-repeat;
	background-position: -55px -70px;
	background-size: 420px 170px;
	position: absolute;
	top: 0;
	left: 0;
}

@media screen and (min-width: 992px) {
	.logo {
		height: 96px;
	}
}

.logo__img {
	width: 240px;
	margin: 20px;
	transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 992px) {
	.logo__img {
		width: 300px;
	}
}

.navbar--expanded .logo__img {
	margin-left: 40px;
}

@media screen and (min-width: 992px) {
	.navbar--expanded .logo__img {
		margin-left: 20px;
	}
}

/* MENU */

.menu {
	display: flex;
	flex-direction: column;
	height: 0;
	font-size: 15px;
	list-style-type: none;
	padding: 200px 0 0 100px; 
}
	  
@media screen and (min-width: 992px) {
	.menu {
		flex-direction: row;
		align-items: center;
		height: 26px;
		width: auto;
		margin: 0 0 0 auto;
		padding: 0 20px;
	} 
}

.menu--show {
	height: 100%;
}

.menu__item {
	text-decoration: none;
	padding: 0;
}

@media screen and (min-width: 992px) {
	.menu__item {
		color: #fff;
		position: relative;
		padding: 4px 12px;
		cursor: pointer;
	}
}

.menu-link {
	font-size: 32px;
	font-weight: bold;
	line-height: 70px;
	text-decoration: none;
	padding: 0;
	cursor: pointer;
}

#bs-override .menu-link {
	color: #00afef;
}

@media screen and (min-width: 992px) {
	#bs-override .menu-link {
		color: #fff;
	}
}

#bs-override .menu-link:hover {
	color: #00afef;
}

@media screen and (min-width: 992px) {
	#bs-override .menu-link:hover {
		color: #fff;
	}
}

@media screen and (min-width: 992px) {
	.menu-link {
		font-size: 15px;
		font-weight: normal;
		line-height: normal;
		color: #fff;
		cursor: pointer;
	}
}

.menu-link:hover {
	color: #fff;
	text-decoration: none;
	transition: all 0.05s ease-in-out;
}

.arrow {
	color: #00afef;
	transition: transform 0.2s ease-in-out;
}

@media screen and (min-width: 992px) {
	.arrow {
		color: #fff;
	}
}

.arrow--up {
	transform: rotate(180deg);
}

.signin {
	display: block;
	position: absolute;
	top: 100px;
	left: 40px;
}

@media screen and (min-width: 992px) {
	.signin {
		display: none;
	}
}

.signin--icon {
	display: none;
}

@media screen and (min-width: 992px) {
	.signin--icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 0;
	}
}


.signin--icon .menu-link {
	margin: 0;
}

@media screen and (min-width: 992px) {
	.signin--icon .menu-link {
		margin: 0 12px 0 27px;
	}
}

.signin--icon::before {
	display: none;
	content: "";
	width: 1px;
	height: 30px;
	background: #fff;
}

@media screen and (min-width: 992px) {
	.signin--icon::before {
		display: inline-flex;
	}
}

.languages {
	margin-top: 40px;
}

@media screen and (min-width: 992px) {
	.languages{
		display: none;
	}
}

.languages .menu-link {
	font-size: 20px;
}

.languages .submenu {
	display: flex;
	flex-wrap: wrap;
	background: #fff;
	padding: 0;
}

.languages .submenu-item {
	max-width: 50%;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.languages .submenu-item:hover {
	background: #f9f6f6;
}

.languages .submenu-link {
	line-height: 60px;
	padding: 0 0 0 40px;
}

#bs-override .languages .submenu-link {
	color: #00afef;
}

.languages--button {
	display: none;
}

@media screen and (min-width: 992px) {
	.languages--button {
		display: inline-flex;
		width: 40px;
		height: 40px;
		background: #fff;
		color: #00afef;
		text-align: center;
		border-radius: 20px;
		margin: 0;
		padding: 0;
	}
}

#bs-override .languages--button .menu-link {
	color: #00afef;
}

@media screen and (min-width: 992px) {
	.languages--button .menu-link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: #00afef;
		margin: 0 auto;
	}
}

@media screen and (min-width: 992px) {
	.languages--button .arrow {
		color: #00afef;
		margin-top: -3px;
	}
}

@media screen and (min-width: 992px) {
	.languages--button .submenu {
		display: flex;
		flex-wrap: wrap;
		width: 400px;
		background: #fff;
		text-align: right;
		border: 1px solid #ccc;
		border-bottom: none;
		border-radius: 10px;
		top: 50px;
		right: 0;
		left: inherit;
	}
}

@media screen and (min-width: 992px) {
	.languages--button .submenu-item {
		max-width: 50%;
		border-bottom: 1px solid #ccc;
		padding: 0;
	}
}

@media screen and (min-width: 992px) {
	.languages--button .submenu-item:nth-of-type(odd) {
		border-right: 1px solid #ccc;
	}
}

@media screen and (min-width: 992px) {
	.languages--button .submenu-item:hover {
		background: #f9f6f6;
	}
}

@media screen and (min-width: 992px) {
	.languages--button .submenu-link {
		padding: 0 20px;
	}
}

/* SUBMENU */

.submenu {
	width: 0;
	height: 0;
	background: #f9f6f6;
	margin-left: -100px;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.1s ease-in-out;
}

@media screen and (min-width: 992px) {
	.submenu {
		min-width: 150px;
		position: absolute;
		top: 30px;
		left: -10px;
		border-radius: 10px;
		margin-left: 0;
		padding-left: 0;
	}
}

.submenu--show {
	width: 100vw;
	height: auto;
	opacity: 1;
}

@media screen and (min-width: 992px) {
	.submenu--show {
		width: auto;
	}
}

.submenu-item {
	width: 100%;
	cursor: auto;
	padding: 0;
	transition: background-color 0.1s ease-in-out;
}

.submenu-item:hover {
	background: #fff;
}

@media screen and (min-width: 992px) {
	.submenu-item {
		padding: 0 20px;
	}

	.submenu-item:hover {
		background: #fff;
	}
}

.submenu-link {
	display: block;
	width: 100%;
	line-height: 40px;
	white-space: pre;
	color: #00afef;
	padding: 0 0 0 100px;
}

@media screen and (min-width: 992px) {
	.submenu-link {
		display: block;
		padding: 0;
	}
}

@media screen and (min-width: 992px) {
	.submenu-link:hover {
		transition: all 0.1s ease-in-out;
	}
}

/* LIST */

.list__item {
	display: flex;
	align-items: baseline;
	line-height: 2;
	margin-bottom: 1em;
}

.list__text {
	display: flex;
	align-items: center;
	color: #000;
}

.list__text--top {
	align-items: baseline;
}

.list__icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	min-width: 40px;
	height: 40px;
	background: #fff;
	font-size: 18px;
	text-align: center;
	color: #00afef;
	border-radius: 20px;
	margin-right: 1em;
}

/* CONTENT */

.hero {
	max-height: unset;
	background: #00afef;
	padding: 200px 0 280px;
}

@media screen and (min-width: 576px) {
	.hero {
		max-height: 800px;
	}
}

.face {
	background: url('../images.v2/face.png') no-repeat center center;
	background-size: contain;
	width: 750px;
	height: 775px;
	display: block;
	position: absolute;
	left: 0%;
	top: 30px;
}
  
@media screen and (min-width: 768px) {
	.face {
		left: 53%;
	}
}

.face--desktop {
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 576px) {
	.face--desktop {
		opacity: 1;
	}
}

.title-section, .intro-section {
	position: relative;
	margin-bottom: 40px;
	padding: 0;
}

  
.develop .firstCheck.idle,
.develop .allResults {
	display: block;
}

.develop .firstCheck,
.develop .allResults.active {
	display: none;
}

.firstCheck.idle,
.allResults {
	display: none;
	background: #f9f6f6;
	margin: -480px 0 0;
	padding-bottom: 50px;
}

.firstCheck,
.allResults.active {
	display: block;
}

.second-search {
	background: #00afef;
	padding: 100px 0 30px;
}

.wave {
	width: 100%;
	height: 50px;
	background: url('../images.v2/hero-home.png') no-repeat center bottom;
	background-size: cover;
}

.block {
	width: 100vw;
	background: #fff;
	margin: 0;
	padding: 80px 0;
}

.block--grey {
	background: #f6f9f9;
}

.block--blue {
	background: #00afef;
}

.row {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* IMAGE / ICON */

.image {
	width: 100%;
	max-width: 100%;
}

.image.icon {
	font-size: 80px;
	color: #00afef;
	position: relative;
}

.image__wrapper {
	width: 200px;
	min-height: 120px;
	position: relative;
	margin: 80px auto 20px;
}

.image__background {
	width: 100%;
	background: none;
	border-radius: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 20px;
}

.image__background--small {
	width: 75%;
}

.image__background--blue {
	background: #00afef;
}

@media screen and (min-width: 768px) {
	.image__wrapper {
		margin-top: 0;
	}
}

.icon__background {
	position: absolute;
	top: 0;
	left: 0;
}

.bordered {
	background: #fafafa;
	border: 1px solid #ccc;
	padding: 1em 20px 0;
}

@media screen and (min-width: 768px) {
	.bordered {
		padding: 0 20px;
	}
}

/* VIDEO */

.video__wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* SEARCH */

.search__wrapper {
	max-height: 70px;
	overflow: unset;
	margin: 0 25px;
	padding: 0;
}

@media screen and (min-width: 768px) {
	.search__wrapper {
		max-height: unset;
		margin: 0;
	}
}

.search {
	display: flex;
	flex-direction: column;
	width: 100%
}

@media screen and (min-width: 768px) {
	.search {
		flex-direction: row;
	}
}

.search__field {
	width: 100%;
	background: #fff;
	font-family: 'Avenir Next LT Pro';
	font-size: 20px;
	text-indent: 8px;
	text-overflow: ellipsis;
	border: 0;
	border-radius: 32px;
	padding: 20px 10px 20px 10px;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	.search__field {
		padding: 20px 165px 20px 10px;
	}
}

.search__button {
	line-height: 1;
	position: unset;
	margin: 23px auto 0;
}

@media screen and (min-width: 768px) {
	.search__button {
		position: absolute;
		top: 5px;
		right: 5px;
		margin: 0;
	}
}

#bs-override .search__button {
	padding: 18px;
}

/* LINK */

.link__wrapper {
	display: flex;
	align-items: center;
	width: 100%;
}

.link__wrapper--center {
	justify-content: center;
}

.link__wrapper--margin {
	margin: 40px 0;
}

.link {
	font-size: 16px;
	line-height: 2;
	color: #00afef;
}

/* BUTTON */

.button {
	min-width: 160px;
	background: #00afef;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 50px;
	border-color: #00afef;
	cursor: pointer;
	padding: 14px 42px;
	transition: all 0.05s ease-in-out;
}

#bs-override .button {
	color: #fff;
}

.button:hover {
	background: #fff;
	text-decoration: none;
	color: #00afef
}

#bs-override .button:hover {
	color: #00afef;
}

.button--inverse {
	background: #fff;
	border: none;
}

.button--ghost {
	background: none;
	border-width: 2px;
	border-style: solid;
}

.button--margin {
	display: inline-flex;
	margin: 40px 0;
}

.button--center {
	margin-right: auto;
	margin-left: auto;
}

#bs-override .button--inverse, #bs-override .button--ghost {
	color: #00afef;
}

#bs-override .button--inverse:hover, #bs-override .button--ghost:hover {
	background: #00afef;
	color: #fff;
	border-color: #00afef;
}

.button--yellow {
	background: #ffc107;
}

#bs-override .button--yellow {
	color: #000;
}

#bs-override .button--yellow:hover {
	background: #ffc107;
	color: inherit;
}

.button--small {
	font-size: 16px;
	padding: 14px 32px;
}

.button__icon{
	margin-right: 5px;
}

/* ALERT */

.alert, .succes {
	font-size: 20px;
	font-weight: normal;
	color: #000;
	margin-bottom: 40px;
	padding: 0;
}

@media screen and (min-width: 768px) {
	.alert, .succes {
		margin: 0 0 40px;
	}
}

.alert .heading, .succes .heading {
	display: block;
	font-weight: normal;
	margin: 20px 0;
}

.alert .dname, .succes .dname {
	display: block;
	font-size: 32px;
	font-weight: bold;
	color: #00afef;
	margin: 0 1%;
}

@media screen and (min-width: 768px) {
	.alert .dname, .succes .dname {
		display: inline-block;
	}
}

.dname {
	font-weight: normal;
	line-height: 2;
	color: #00afef;
}

.firstSection {
	top: 0;
	z-index: 1000;
	padding: 20px 15px 15px;
	background: url('../images.v2/bg_header.png') no-repeat center bottom;
	background-size: cover;
	margin: 40px auto;
}

@media (min-width: 576px) {
	.firstSection {
		max-width: unset;
	}
}

@media (min-width: 992px) {
	.firstSection {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.firstSection {
		max-width: 1140px;
	}
}

/* TABLE: GENERAL */

@media (min-width: 576px) {
	.table__section {
		max-width: unset;
	}
}

@media (min-width: 992px) {
	.table__section {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.table__section {
		max-width: 1140px;
	}
}

.table {
	line-height: 18px;
}

.table__section {
	line-height: 18px;
}


.resultTable#top_domain {
	border-top: 1px solid #000;
	margin-top: 80px;
}

.cost-price-domains {
	height: 0;
	overflow: hidden;
	transition: height 0.15s ease-in-out;	
}

.table td, .table th {
	vertical-align: baseline;
	border-top: none;
	border-bottom: 1px solid #000;
}

@media (min-width: 576px) {
	.table td, .table th {
		vertical-align: middle;
	}
}

.table__row {
	background: none;
}

.table__row:hover {
	background: #fff;
}

/* TABLE: HEADER */

.table__header {
	background: #34437a;
	color: #fff;
	border: none;
}

.table__header .table__row:hover {
	background: #34437a;
}

.table thead.table__header th {
	background: #34437a;
	font-size: 12px;
	border: none;
	padding: 16px 20px 0;
}

.filter__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

@media (min-width: 576px) {
	.filter__container {
		justify-content: space-between;
	}
}

.filter__item {
	margin-bottom: 16px;
}

.filter__text {
	color: #fff;
	text-transform: uppercase;
}

.slideMaxCharacters {
	display: flex;
}

.slider {
	width: 150px;
	height: 8px;
	background: #efefef;
	border-radius: 4px;
	margin: 4px 16px;
}

.ui-slider {
	position: relative;
	text-align: left;
}
.ar .ui-slider {
	text-align: right;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	top: -5px;
	z-index: 2;
	width: 1.6em;
	height: 1.6em;
	cursor: pointer;
	-ms-touch-action: none;
	touch-action: none;
	background: #00afef;
	border-radius: 20px;
	margin-left: -0.8em;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

.locations {
	position: relative;
	padding-left: 24px;
}

.checkbox {
	display: none;
}

.checkbox:checked + label:before {
	font-family: "Font Awesome 5 Free";
	content: "\f00c";
	color: #00afef;
	font-size: 14px;
	text-align: center;
	padding-top: 0px;
	line-height: 16px;
}

.checkbox__label::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
}

/* TABLE: FIRST COLUMN */

.firstColumn {
	max-width: calc(50vw - 30px);
	vertical-align: middle;
	padding: 20px;
}

@media (max-width: 576px) {
	.firstColumn {
		padding: 8px;
	}
}

.firstColumn__container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
}

.domainname {
	font-size: 20px;
	line-height: 26px;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 5px 0px 5px 0px;
}

.domainname__wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100%;
	color: #000;
	margin-bottom: 8px;
}

@media screen and (min-width: 576px) {
	.domainname__wrapper {
		flex-wrap: unset;
	}
}

@media screen and (min-width: 768px) {
	.domainname__wrapper {
		display: flex;
		flex-wrap: nowrap;
		width: auto;
		margin-bottom: 0;
	}
}

.domainname__wrapper--grey {
	color: #ccc;
}

.domainLabel__wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 0;
}

@media screen and (min-width: 768px) {
	.domainLabel__wrapper {
		flex-direction: column;
		margin-left: auto;
	}
}

.domainLabel {
	background: #00adeb;
	font-size: 14px;
	font-weight: 600;
	line-height: 100%;
	color: #FFF;
	text-transform: uppercase;
	position: relative;
	margin: 2px 4px 0;
	padding: 6px 6px 6px 24px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
		 	border-radius: 4px;
	-webkit-border-top-left-radius: 20px;
	   -moz-border-top-left-radius: 20px;
		 	border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	   -moz-border-bottom-left-radius: 20px;
		 	border-bottom-left-radius: 20px;
}

.domainLabel__hole {
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 20px;
	position: absolute;
	top: 8px;
	left: 8px;
}

.domainLabel.costPrice {
	background: orange;
}
.domainLabel.specialDomain {
	background: #34437a;
}

.secondSection .domainLabel {
	position: absolute;
	right:  20px;
	top:  40px;
	font-size: 22px;
}

.domainTab.specialDomain {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	background: #34437a;
	color: #FFF;
	float: right;
	margin-top: -30px;
	padding:  0 10px 0 10px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
		 	border-radius: 4px;
}

.popup {
	display: none;
	width: calc(100vw - 80px);
	background: #00adec;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	color: #FFF;
	text-align: left;
	position: absolute;
	top: 28px;
	left: 0;
	padding: 16px;
	z-index: 10000;
}

@media (min-width: 576px) {
	.popup {
		width: 300px;
		top: 0;
		left: calc(100% + 2px);
	}
}

.popup--blue-dark {
	background: #34437a;
}

.popup__trigger {
	display: inline-block;
 	padding: 0 0 0 5px;
	cursor: pointer;
}
 
.popup__trigger:hover .popup {
	display: block;
}


.popup__icon{
 	font-size: 16px;
	line-height: 10px;
}

/* TABLE: LAST COLUMN */

.lastColumn {
	width: 40%;
	max-width: calc(50vw - 15px);
	text-transform: uppercase;
	border-left: none;
	margin: 10px;
	padding: 10px 20px;
}

@media (min-width: 576px) {
	.lastColumn {
		border-left: 1px solid #000;
	}
}

.lastColumn .button {
	min-width: unset;
}

.lastColumn__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	padding: 20px 0;
}

@media (min-width: 576px) {
	.lastColumn__container {
		flex-direction: row;
		padding: 0;
	}
}

.currency {
	font-size: 20px;
	font-weight: 600;
	position: relative;
	float: left;
	margin: 9px 6px 0 0;
}

.domainPrice {
	font-size: 30px;
	font-weight: 600;
	position: relative;
	float: left;
	margin: 9px 6px 0 0px;
}

.domainPrice__wrapper {
	display: flex;
	max-width: 100%;
	color: #000;
	margin: 0 0 8px auto;
	padding: 0 12px 0 0;
}

@media screen and (min-width: 768px) {
	.domainPrice__wrapper {
		display: flex;
		flex-wrap: nowrap;
		width: auto;
		margin: 0 12px 0 0;
	}
}

.cents {
	font-size: 50%;
	font-weight: 600;
	top: -6px;
	right: -12px;
	position: absolute;
}

.selectedDomains {
	font-size: 16px;
	line-height: 34px;
	color: #999;
	margin: 0 20px 10px 0; 
}

@media screen and (min-width: 768px) {
	.selectedDomains {
		margin: 0 20px 0 0;
	}
}

.selectedDomains span {
	color: #00afef;
}
.selectedDomains a:hover {
	text-decoration: none;
	border: 0;
}

.select {
	background: #00afef;
	font-size: 15px;
	margin: 20px 0 0;
	padding-top: 15px;
	cursor: pointer;
}

@media (min-width: 576px) {
	.select {
		margin: 0 0 0 auto;
	}
}

.checking {
	margin: 20px auto 0;
	padding: 14px;
	cursor: pointer;
}

@media (min-width: 768px) {
	.checking {
		margin: 0 0 0 auto;
		padding-left: 24px;
	}
}

.unavailable {
	background: none;
	font-size: 15px;
	color: red;
	margin: 14px;
	cursor: text;
}

.unavailable--alt {
	margin: 20px auto 0;
}

@media (min-width: 768px) {
	.unavailable--alt {
		margin: 0 12px 0 auto;
	}
}

.selected {
	color: #00afef;
	margin: 20px auto 10px;
	padding: 0 5px;
}

@media (min-width: 768px) {
	.selected {
		margin: 14px 0 14px auto;
	}
}

.remove {
	background: red;
	margin: 10px auto 0;
	padding: 14px;
}

@media (min-width: 768px) {
	.remove {
		margin: 0 0 0 auto;
		padding: 14px 32px;
	}
}

#bs-override .select:hover,
#bs-override .checking,
#bs-override .checking:hover {
	background: #f6f9f9;
	color: #00afef;
}

#bs-override .selected:hover {
	background: #f6f9f9;
	color: red;
}

/* TABLE: BOTTOM */

.table__bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 40px auto;
}

@media (min-width: 576px) {
	.table__bottom {
		max-width: unset;
	}
}

@media (min-width: 992px) {
	.table__bottom {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.table__bottom {
		max-width: 1140px;
	}
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* width: 60%; */
	font-weight: 600;
	font-size: 16px;
	line-height: 34px;
	text-align: center;
	/* margin-right: 15px; */
}

@media (min-width: 576px) {
	.pagination {
		margin-right: 0;
	}
}

.pagination .showmore__wrapper {
	width: 100%;
	margin-bottom: 20px;
}

.pagination .showmore {
	padding: 14px;
}

@media (min-width: 576px) {
	.pagination .showmore {
		padding: 14px 42px;
	}
}

.pagination .showall {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	margin-left: 10px;
	padding: 0 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.pagination .showall:hover {
	background: #fff;
}

/* CHECKOUT */

.checkout-section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.checkout-section--alt {
	flex-wrap: wrap;
	/* max-width: 40%; */
	margin-top: 20px;
	margin-left: 15px;
}

@media screen and (min-width: 768px) {
	.checkout-section--alt {
		margin-left: 10px;
	}
}

.addToCart{
	min-width: unset;
	text-decoration: none;
	padding: 14px 21px;
}

@media screen and (min-width: 768px) {
	.addToCart {
		padding: 14px 42px;
	}
}

.fixedToCart .addToCart{
	margin-right: 40px;
}

.fixedToCart {
	position: fixed;
	width:  100%;
	top:  0px;
	left:  0;
	-webkit-transition: top 0.6s;
	transition: top 0.6s;
	background: rgba(255,255,255,0.95);
	z-index: 50;
}

.fixedToCart.active {
	top:  90px;
}

/* FOOTER */

.footer {
	padding: 60px 40px;
}

@media screen and (min-width: 768px) {
	.footer {
		padding: 60px 0;
	}
}

.footer__column {
	margin-bottom: 40px;
}

.footer__list,
.footer__item {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

.footer__header {
	font-size: 20px;
	text-decoration: none;
	color: #00afef;
	line-height: 40px;
}

.footer__link {
	font-size: 16px;
	line-height: 32px;
}

#bs-override .footer__link {
	color: #34437a;
}

#bs-override .footer__link:hover {
	color: #34437a;
}

.subfooter {
	background: url('../images.v2/bg-footer.png') no-repeat center top;
	background-size: cover;
	font-size: 13px;
	padding: 30px 0;
	line-height: 24px;
	color: #CCC;
}



/* ROTZOOI */



/* FREENOM LEGACY */

/* GOSITE */

/* .goSite {
background: url('../images.v2.v2/bg_gosite.jpg') no-repeat center top;
background-size: cover;
padding-top:  30px !important;

}
.goSite h1 {
color: #FFF !important;
} */

/* DOMAINCHECK ON HOMEPAGE */

/* TABLE */


/* .domainResult .span12 {
	margin-top:  0 !important;
	margin-bottom:  0 !important;
	padding-top:  0 !important;
	padding-bottom:  0 !important;
}
.domainResult.thirdSection .span12{
	
	margin-bottom:  2% !important;
	padding-bottom:  2% !important;
}
.domainResult .span12 h2{
	margin:  50px 0 30px;
}
.domainResult .span12 h3{
	margin:  40px 0 20px;
} */

.domainCheck.domainResults {
	padding:  35px 0 10px;
}

.domainCheck.domainResults {
	margin-top: 0px !important;
}

/* .domainResult.firstSection .domainName {
	font-size: 30px;
	line-height: 32px;
	margin: 38px 0px 0px 30px;
} */

.table .domainExtension {
	font-weight: 600;
	font-size: 30px;
	line-height: 30px;
}

/* .domainResult.firstSection .domainExtension {
	font-size: 60px;
	line-height: 65px;
	margin: 0 0 20px 30px;
	clear: both;
} */

.domainResult.secondSection .domainExtension {
	font-size: 40px;
	margin: 0px 0px 15px 0px;
	clear: both;
}

.domainResult.thirdSection .domainExtension {
	/* margin: 4px 0px 0px 10px; */
}

.domainResult.thirdSection .domainExtension {
	clear: none;
}

.domainResult.zeroSection {
	padding: 100px 0;
}

body .wrapper-container .wrapper {
	padding-bottom: 50px !important;
}

/* CREATE A CUSTOM DESIGN VOOR INPUT CHECKBOXES */

textarea.apitextarea{
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
	margin-bottom: 14px;
	padding: 9px 14px;
	font-family: "Courier New",monospace;
}
.api_icon {
	float: left;
	margin:  0 10px 10px 0;
}
.freenom-api table {
	background: #f2f2f2 none repeat scroll 0 0;
	border: 0 solid #ccc;
	border-radius: 6px;
	line-height: 22px;
	vertical-align: top;
}
.freenom-api table tr{
	 border-bottom: 1px solid #fff;
	}

.freenom-api table  td{
	 border-bottom: 1px solid #fff;
	}
.freenom-api table  td {
	border-right: 1px solid #fff;
}
.content-page td {
	color: #666;
	font-size: 100%;
	padding: 10px;
	text-align: left;
}

/* END CUSTOM DESIGN VOOR INPUT CHECKBOXES */